@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a default font and color */
body {
    // font-family: Arial, sans-serif;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* Style heading elements */
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* Style paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Add some basic styles to links */
a {
    text-decoration: none;
    color: #007bff;

    &:hover{
        text-decoration: none !important;
    }
}

a:hover {
    text-decoration: underline;
}

.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1540px) {
    .container-fluid{
        max-width: 1540px;
    }
}

@media (max-width: 767px) {
    .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
}

img{
    max-width: 100%;
}

button:focus{
    box-shadow: unset !important;
    outline: unset;
}

.wrapper{
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

.cover-banner{
    img{
        width: 100%;
    }
}

.header{
    min-height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 2rem 0;
    z-index: 99;

    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--menu{
            display: inline-flex;
            align-items: center;
            gap: 25px;

            .btn-menu{
                background: transparent;
                border: none;
                font-size: 26px;
                color: #fff;

                svg{
                    width: 25px;
                }
            }
        }

        &--controler{
            display: inline-flex;
            align-items: center;
            gap: 10px;

            .btn{
                border: none;
                background: transparent;
                text-align: center;
            }
        }

        @media (max-width: 767px) {
            &--controler{
                gap: 0;
            }
        }
    }

    &.scrolled{
        padding: 1rem 0;
        background: #231F20;
    }

    @media (max-width: 767px) {
        padding: 1rem 0;
    }
}

.menu-group{
    background: #fff;
    min-width: 430px;
    height: 100%;
    top: 0;
    position: fixed;
    bottom: 0;
    z-index: 99;
    padding: 30px;
    padding-bottom: 75px;
    transition: .3s;
    left:-1000px;
   
    &.open{
        left: 0;
    }

    &::after{
        content: "";
        background-image: url('/assets/images/bgr-menu.png');
        min-width: 75%;
        position: absolute;
        right: 0;
        height: 600px;
        background-size: cover;
        top: 20%;
        opacity: 0.5;
    }

    .btn-close-menu{
        border: none;
        background: transparent;
        padding: 0;

        svg{
            width: 20px;
        }
    }

    .menu-group--list{
        list-style: none;
        padding: 0;
        margin: 20px 0;
        position: relative;

        li{
            margin-bottom: 30px;

            a{
                color: #000;
                text-transform: uppercase;
            }
        }
    }

    .menu-bottom{
        position: absolute;
        bottom: 0;
        min-height: 60px;
        width: 100%;
        left: 0;
        padding: 30px;
        border-top: 1px solid #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            display: inline-block;
            color: #231F20;
            text-decoration: underline;
        }

        &::before{
            content: "";
            background: #fff;
            background-image: url('/assets/images/icon-line-menu.png');
            width: 60px;
            height: 20px;
            position: absolute;
            top: -9px;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
            left: 0;
            right: 0;
        }
    }

    @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
        min-width: unset;
    }
}

.btn-custom-border{
    &::after{
        content: "";
        border: 2px solid #BCBEC0;
        padding: 21px;
        position: absolute;
        min-width: 158px;
        min-height: 47px;
        border-radius: 40px;
        left: -5px;
        right: 0;
        top: -5px;
        margin: auto;
    }
}

.image-style-list{
    position: relative;

    .list-container {
        overflow: hidden;
        position: relative;
        max-width: 100%;
    }

    .list-style-group, .list-style-group-ctgr {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    &--item {
        flex: 0 0 33.33%; /* Hiển thị 3 mục trên màn hình desktop */
        box-sizing: border-box;
        text-align: center;
        // padding: 20px;
        img{
            width: 100%;
        }
    }

    .btn-control-slide{
        position: absolute;
        top: 50%;
        border-radius: 100%;
        border: none;
        background: #ffffff59;
        width: 40px;
        height: 40px;
        margin: 0 15px;
        opacity: 1;
        display: none;

        &.next-button, &.next-button-ctgr{
            right: 0;
        }

        &.prev-button, &.prev-button-ctgr{
            left: 0;
            transform: rotate(180deg);
        }

        &[disabled]{
            opacity: 0;
        }
    }

   @media (max-width: 767px) {
    .btn-control-slide{
        display: block;
    }

    &--item {
        flex: 0 0 100%;
    }
   }
}

.list-category{
    margin: 30px 0 0 30px;

    .btn-control-slide{
        display: block;
    }


    .image-style-list--item{
        flex: 0 0 25%;
    }

    .list-style-group-ctgr{
        gap: 15px;
    }
    
    .item-category{
        position: relative;

        &--info{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            text-align: left;
            padding: 15px;
            margin-bottom: 30px;
    
            h3{
                font-size: 18px;
                color: #fff;
                font-weight: 600;
                margin-bottom: 0;
            }

            a{
                font-size: 14px;
                color: #fff;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    left: 0;
                    bottom: -7px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        margin: 0;

        .list-style-group-ctgr{
            gap: 0;
        }

        .item-category{
            &--info{
                h3{
                    font-size: 15px;
                    margin-bottom: 5px;
                }
    
            }
        }
        
    }


    @media (max-width: 767px) {
        .image-style-list--item{
            flex: 0 0 100%;
        }
    }

}

.group-production{
    margin: 30px 0;

    &--heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title-heading{
            font-size: 1.8em;
            font-weight: 700;
            color: #231F20;
            margin-bottom: 0;
            position: relative;
            padding-left: 60px;

            &::before{
                content: "";
                background-image: url('/assets/images/title-heading.png');
                min-width: 38px;
                min-height: 10px;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }

    

    .view-more-prd{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        border: 1px solid #000;
        color: #000;
        padding: 8px;
        min-width: 150px;
        font-weight: 600;
        position: relative;

        &::after{
            content: "";
            border: 2px solid #BCBEC0;
            padding: 21px;
            position: absolute;
            min-width: 158px;
            min-height: 47px;
            border-radius: 40px;
            left: -5px;
            right: 0;
            top: -5px;
            margin: auto;
        }

        &:hover{
            background: #231F20;
            color: #fff;
        }

        &.view-prd-mobile{
            display: none;
        }
    }

    &--list{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        &-item{
            width: calc(100%/4 - 12px);

            .thumbnail-product{
                position: relative;

                img{
                    width: 100%;
                }

                .label-sale{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    display: inline-block;
                    text-align: center;
                    font-weight: 700;
                    padding: 3px 8px;
                    background: #fff;
                    border: 1px solid #000;
                    font-size: 14px;
                    border-radius: 40px;
                }
            }
            .info-product{
                padding: 15px 0;

                &--heading{
                    display: flex;
                    justify-content: space-between;

                    .title-product{
                        font-size: 16px;
                        font-weight: 600;

                        a{
                            color: #000;
                        }
                    }

                    .favorite-prd{
                        cursor: pointer;
                        margin-left: 10px;
                        display: inline-block;

                        svg{
                            width: 18px;
                        }
                    }
                }
                &--price{
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .price-main{
                        font-weight: 600;
                        font-size: 15px;
                    }
                    .price-sale{
                        color: #696969;
                        text-decoration: line-through;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        &--list{
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x;
            flex-wrap: nowrap;

            &-item{
                scroll-snap-align: start;
                min-width: 230px;

                .info-product{
                    .title-product{
                        font-size: 14px;
                    }
                    
                }
            }
        }
    }

    @media (max-width: 767px) {
        .title-heading{
            font-size: 16px;

            &::before{
                min-width: 38px;
                min-height: 8px;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
        .view-more-prd{
            display: none;

            &.view-prd-mobile{
                display: block;
                text-align: center;
                margin: 20px;

                &::after{
                    min-width: 313px;
                }
            }
        }
    }
}

.footer{
    background: #231F20;
    position: relative;
    min-height: 400px;
    padding: 80px 0 40px;

    .container-fluid{
        position: relative;
        z-index: 10;
    }
    
    &::after{
        content: "";
        background-image: url('/assets/images/line-footer.png');
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25px;
    }

    &::before{
        content: "";
        background-image: url('/assets/images/icon-footer-background.svg');
        width: 900px;
        height: 330px;
        position: absolute;
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .heading-footer{
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
    }

    .form-contact{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin: 20px 0;

        .form-control{
            border-radius: 24px;
            background: #fff;
            min-height: 48px;
            max-width: 240px;
            font-size: 14px;
        }

        .btn-submit{
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 40px;
            min-width: 135px;
            min-height: 40px;
            position: relative;
            font-size: 14px;

            &::after{
                content: "";
                border: 2px solid #BCBEC0;
                padding: 21px;
                position: absolute;
                min-width: 143px;
                min-height: 48px;
                border-radius: 40px;
                left: -5px;
                right: 0;
                top: -5px;
                margin: auto;
            }

            &:hover{
                background: #fff;
                color: #000;
            }
        }
    }

    &-menu-group{
        border-top: 1px solid #696969;
        border-bottom: 1px solid #696969;
        margin: 30px 0;
        position: relative;

        &::before{
            content: "";
            background: #272324;
            background-image: url('/assets/images/icon-small-footer.svg');
            width: 60px;
            height: 20px;
            position: absolute;
            bottom: -9px;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
            left: 0;
            right: 0;
        }
    }

    &-menu-list{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-evenly;
        position: relative;
        padding: 30px 0;
        padding-bottom: 40px;

        &--item{
            a{
                color: #fff;
                text-align: center;
                display: inline-block;
                position: relative;

                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }
            }
        }
    }

    &-coppy-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    @media (max-width: 767px) {
        padding: 40px 0 10px;

        .heading-footer{
            font-size: 20px;
        }

        &-menu-list{
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x;
            flex-wrap: nowrap;

            &--item{
                scroll-snap-align: start;
                min-width: 100px;
                text-align: center;
            }
        }
    }
}

.form-with-icon{
    position: relative;

    .form-control{
        padding-right: 45px;
    }

    .ic-form-control{
        width: 20px;
        position: absolute;
        right: 10px;
        top: 15px;
    }
}

.cover-banner{
    /* Thiết lập slider và các slide */
    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .slider {
        display: flex;
        transition: transform 0.3s ease; /* Thời gian và kiểu chuyển động */
    }

    .slide {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
    }

    /* Thiết lập dots */
    .dots-container {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .dot {
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 40px;
        margin: 0 5px;
        cursor: pointer;
    }

    .dot.active {
        background-color: #fff; /* Màu của dot hiện tại */
        width: 60px;
    }

    @media (max-width: 767px) {
        img {
            width: 100%;
            min-height: 390px;
            -o-object-fit: cover;
            object-fit: cover;
            aspect-ratio: 16/9;
            -o-object-position: left;
            object-position: center;
        }
    }
}


